* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(135deg, #141e30, #324e6e);
}

.back-btn {
    background-color: transparent;
    color: #eee;
    border: 1px solid darkgray;
}

.container {
    display: grid;
    justify-content: center;
}

.carousel {
    width: 300px;
    height: 300px;
}

img {
    width: 100%;
    height: 100%;
}

span {
    background-color: #324e6e;
}

.details {
    border: 2px solid darkgray;
    padding: 10px;
}