* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background: linear-gradient(135deg, #141e30, #324e6e);
}

.back-btn {
    background-color: transparent;
    color: #eee;
    border: 1px solid darkgray;
}

.container {
    display: z;
    justify-content: center;
}

.carousel {
    width: 300px;
    height: 300px;
    border: 2px solid darkgray;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
}

span {
    background-color: #324e6e;
}

.details {
    max-width: 1000px;
    background: linear-gradient(135deg, #141e30, #324e6e);
    color: #eee;
    border: 2px solid darkgray;
    padding: 27px;
    margin: auto;
}