* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Navbar */
nav {
    background: linear-gradient(135deg, #141e30, #324e6e);
}

nav div ul li .nav-link {
    color: #eee;
}

nav div ul li .nav-link:hover {
    color: #eee;
    font-weight: bold;
}

ul .dropdown-menu {
    background: darkgray;
    color: #141e30;
}

li .dropdown-item:hover {
    background: linear-gradient(135deg, #141e30, #324e6e);
    color: #eee;
}

/* List Box */
section div .card {
    background: linear-gradient(135deg, #141e30, #324e6e);
    color: #eee;
}

.card .add-shop {
    color: #eee;
}

.card {
    width: 15rem;
    margin: 0 20px;
}

.item-image {
    height: 230px;
    border: 2px solid darkgray;
}

.card-title {
    text-decoration: none;
}

.add-shop {
    border: none;
    background-color: transparent;
}

/* Basket */
.basket-item {
    height: 150px;
    background: linear-gradient(135deg, #141e30, #324e6e);
    color: #eee;
}

.remove-item {
    background-color: transparent;
    color: red;
    border: none;
    font-size: x-large;
}

/* Footer */
footer {
    background: linear-gradient(135deg, #141e30, #324e6e);
    color: #eee;
}

footer div a {
    color: #eee;
    text-decoration: none;
}

footer div a:hover {
    color: darkgray;
    transition: all 0.5s ease-out;
}

footer h4 {
    margin-bottom: 15px;
}

footer .icons a{
    padding: 5px;
}
