* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* Navbar */
nav {
    background-color: lightblue;
}

.nav-item {
    color: darkgray;
}

li .dropdown-item:hover {
    background-color: lightblue;
}

/* List Box */
.card {
    width: 15rem;
    margin: 0 20px;
}

.item-image {
    height: 230px;
}

.card-title {
    text-decoration: none;
}

.add-shop {
    border: none;
    background-color: transparent;
}

/* Basket */
.basket-item {
    height: 150px;
    background-color: lightblue;
}

.remove-item {
    background-color: transparent;
    color: red;
    border: none;
    font-size: x-large;
}

/* Footer */
footer {
    background-color: lightblue;
}